<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobydick.hms.room.dao.RoomDAO">

    <!-- 전체 객실 조회 -->
    <select id="selectAllRooms" resultType="com.mobydick.hms.room.vo.RoomVO">
        <![CDATA[
                SELECT
                    A.ROOM_ID,
                    A.ROOM_NUMBER,
                    A.ROOM_CLASS,
                    A.RESERV_DATE,
                    A.CREATED_DATE,
                    A.CREATED_ID,
                    A.UPDATED_DATE,
                    A.UPDATED_ID
                FROM
                    TB_ROOM A
                ORDER BY A.ROOM_NUMBER
        ]]>
    </select>

    <!-- 객실 정보와 업무 디테일을 조인 -->
    <select id="selectRoomsWithWorkDetails" resultType="com.mobydick.hms.room.vo.RoomVO">
        <![CDATA[
                SELECT
                    A.ROOM_ID,
                    A.ROOM_NUMBER,
                    A.ROOM_CLASS,
                    A.RESERV_DATE,
                    A.CREATED_DATE,
                    A.CREATED_ID,
                    A.UPDATED_DATE,
                    A.UPDATED_ID,
                    B.EMPL_ID,
                    B.WORKD_CONTEXT AS CLEAN_STATE,
                    B.WORKD_EXTRA AS EXTRA_INFO,
                    C.EMPL_NAME AS EMPL_NAME
                FROM
                    TB_ROOM A
                LEFT JOIN
                    TB_WORK_D B
                        ON A.ROOM_ID = B.ROOM_ID
                LEFT JOIN
                    TB_EMPL C
                       ON B.EMPL_ID = C.EMPL_ID
                WHERE
                    B.ROOM_ID IS NOT NULL
                ORDER BY
                    A.ROOM_NUMBER
        ]]>
    </select>

    <!-- 객실 등록 -->
    <insert id="insertRoom" parameterType="com.mobydick.hms.room.vo.RoomVO">
        INSERT INTO TB_ROOM (
        ROOM_ID,
        ROOM_NUMBER,
        ROOM_CLASS,
        RESERV_DATE,
        CREATED_DATE,
        CREATED_ID,
        UPDATED_DATE,
        UPDATED_ID
        ) VALUES (
        #{roomId},
        #{roomNumber},
        #{roomClass, jdbcType=VARCHAR},
        #{reservDate, jdbcType=VARCHAR},
        SYSDATE,
        #{createdId},
        SYSDATE,
        #{updatedId}
        )
    </insert>

    <!-- 객실 타입 목록 조회 (TP 코드만) -->
    <select id="getRoomTypeAndName" resultType="com.mobydick.hms.room.vo.RoomVO">
        SELECT
        CODE_ID AS codeId,
        CODE_NAME AS codeName
        FROM TB_CODE
        WHERE CODE_ID LIKE 'TP%'
        ORDER BY CODE_ID
    </select>

    <!-- 객실 정보 수정 -->
    <update id="updateRoom" parameterType="map">
        UPDATE TB_ROOM
        SET
        ROOM_NUMBER = #{roomNumber},
        ROOM_CLASS = #{roomClass, jdbcType=VARCHAR},
        RESERV_DATE = #{reservDate, jdbcType=VARCHAR},
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{updatedId}
        WHERE ROOM_ID = #{roomId}
    </update>

    <!-- 객실 ID로 단건 조회 -->
    <select id="selectRoomById" parameterType="string" resultType="com.mobydick.hms.room.vo.RoomVO">
        SELECT
        ROOM_ID,
        ROOM_NUMBER,
        ROOM_CLASS,
        RESERV_DATE,
        CREATED_DATE,
        CREATED_ID,
        UPDATED_DATE,
        UPDATED_ID
        FROM TB_ROOM
        WHERE ROOM_ID = #{roomId}
    </select>

    <!-- 객실 삭제 -->
    <delete id="deleteRoom" parameterType="string">
        DELETE FROM TB_ROOM WHERE ROOM_ID = #{roomId}
    </delete>

</mapper>
