<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobydick.hms.login.dao.LoginDAO">

    <!-- 로그인 유저 정보 -->
    <select id="selectEmployeeById" resultType="com.mobydick.hms.login.vo.LoginVO">
        <![CDATA[
        SELECT
            EMPL_ID,
            EMPL_NAME,
            EMPL_PHONE,
            EMPL_DEPT,
            EMPL_GRADE,
            PHOTO_NAME,
            PHOTO_PATH,
            EMPL_NOTES,
            CREATED_DATE,
            CREATED_ID,
            UPDATED_DATE,
            UPDATED_ID,
            RETIRED_YN
        FROM TB_EMPL
        ]]>
        <where>
            <if test="emplId != null and emplId != ''">
                EMPL_ID = #{emplId}
            </if>
        </where>
    </select>

</mapper>
