<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobydick.hms.schedule.dao.ScheduleDAO">

    <!-- 전체 스케줄 조회 -->
    <select id="selectAllschedule" resultType="com.mobydick.hms.schedule.vo.ScheduleVO">
        SELECT
            SCHE_ID,
            SCHE_DATE,
            EMPL_ID,
            SCHE_SHIFT,
            CREATED_DATE,
            CREATED_ID,
            UPDATED_DATE,
            UPDATED_ID
        FROM
            TB_SCHEDULE
    </select>




</mapper>
