<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobydick.hms.work.dao.WorkDAO">

    <!-- 예시 쿼리 -->
    <select id="getCodeIdAndName" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT
        CODE_ID AS codeId,
        CODE_NAME AS codeName
        FROM TB_CODE
        ORDER BY CODE_ID
    </select>


    <select id="selectAllWorkM" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT  a.workm_id,
                a.workm_name,
                a.workm_dept,
                a.workm_context,
                a.workm_impo
        FROM TB_WORK_M a
        ORDER BY a.workm_dept, a.workm_impo desc, a.workm_name
    </select>


    <select id="selectWorkDByEmplByDate" parameterType="String" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT  a.workm_id,
        a.workd_id,
        a.workd_name,
        a.empl_id        AS workDEmplId,
        a.workd_dept,
        a.workd_date,
        a.workd_context,
        a.workd_extra,
        a.room_id        AS workDRoomId,
        a.workd_impo,
        a.workd_issue,
        a.order_id,
        a.start_name     AS workDStartName,
        a.start_time     AS workDStartTime,
        a.end_name       AS workDEndName,
        a.end_time       AS workDEndTime,
        b.empl_name,
        c.room_name
        FROM    TB_WORK_D a
        LEFT JOIN TB_EMPL b on a.empl_id = b.empl_id
        LEFT JOIN TB_ROOM c on a.room_id = c.room_id
        WHERE   TO_CHAR(a.workd_date, 'YYYYMMDD') = #{date}
        AND     a.empl_id = #{emplId}
        ORDER BY a.workd_impo desc, a.workd_name
    </select>

    <!-- 주 업무 등록 -->
    <insert id="insertWorkM" parameterType="com.mobydick.hms.work.vo.WorkVO">
        INSERT INTO TB_WORK_M (
        WORKM_ID,
        WORKM_NAME,
        WORKM_DEPT,
        WORKM_CONTEXT,
        WORKM_IMPO,
        CREATED_DATE,
        CREATED_ID,
        UPDATED_DATE,
        UPDATED_ID
        ) VALUES (
        #{workMId},
        #{workMName},
        #{workMDept},
        #{workMContext},
        #{workMImpo},
        SYSDATE,
        #{createdId},
        null,
        null
        )
    </insert>

    <!-- 주 업무 수정 -->
    <update id="updateWorkM" parameterType="com.mobydick.hms.work.vo.WorkVO">
        UPDATE TB_WORK_M
        SET
        WORKM_NAME = #{workMName},
        WORKM_DEPT = #{workMDept},
        WORKM_CONTEXT = #{workMContext},
        WORKM_IMPO = #{workMImpo},
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{updatedId}
        WHERE WORKM_ID = #{workMId}
    </update>

    <!-- 주 업무 삭제 -->
    <delete id="deleteWorkM">
        DELETE
        FROM TB_WORK_M
        WHERE WORKM_ID = #{workMId}
    </delete>

    <!-- 상세 업무 등록 -->
    <insert id="insertWorkD" parameterType="com.mobydick.hms.work.vo.WorkVO">
        INSERT INTO TB_WORK_D (
        WORKD_ID,
        WORKM_ID,
        WORKD_NAME,
        EMPL_ID,
        WORKD_DATE,
        ROOM_ID,
        WORKD_DEPT,
        WORKD_CONTEXT,
        WORKD_IMPO,
        ORDER_ID,
        CREATED_DATE,
        CREATED_ID
        ) VALUES (
        #{workDId},
        #{workMId},
        #{workDName},
        #{workDEmplId},
        #{workDDate},
        #{workDRoomId},
        #{workDDept},
        #{workDContext},
        #{workDImpo},
        #{createdId},
        SYSDATE,
        #{createdId}
        )
    </insert>

    <!-- 상세 업무 조회 -->
    <select id="selectDetailWorkD" parameterType="String" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT  a.workd_id,
        a.workm_id,
        a.workd_name,
        a.empl_id        AS workDEmplId,
        a.workd_dept,
        TO_CHAR(a.workd_date, 'YYYY-MM-DD') AS workd_date,
        a.workd_context,
        a.workd_extra,
        a.room_id        AS workDRoomId,
        a.workd_impo,
        a.workd_issue,
        a.order_id,
        a.start_name     AS workDStartName,
        a.start_time     AS workDStartTime,
        a.end_name       AS workDEndName,
        a.end_time       AS workDEndTime,
        b.empl_name,
        c.room_name,
        d.code_name      AS workd_impoN
        FROM    TB_WORK_D a
        LEFT JOIN TB_EMPL b on a.empl_id = b.empl_id
        LEFT JOIN TB_ROOM c on a.room_id = c.room_id
        LEFT JOIN TB_CODE d on a.workd_impo = d.code_id
        WHERE   a.workd_id = #{workDId}
    </select>

    <!-- 상세 업무 수정 -->
    <update id="updateWorkD">
        UPDATE TB_WORK_D
        SET
        WORKD_NAME     = #{workDName},
        EMPL_ID        = #{workDEmplId},
        WORKD_DATE     = #{workDDate},
        WORKD_CONTEXT  = #{workDContext},
        WORKD_EXTRA    = #{workDExtra},
        ROOM_ID        = #{workDRoomId},
        WORKD_IMPO     = #{workDImpo},
        WORKD_ISSUE    = #{workDIssue},
        START_NAME     = #{workDStartName, jdbcType=VARCHAR},
        START_TIME     = #{workDStartTime, jdbcType=TIMESTAMP},
        END_NAME       = #{workDEndName, jdbcType=VARCHAR},
        END_TIME       = #{workDEndTime, jdbcType=TIMESTAMP},
        UPDATED_DATE   = SYSDATE,
        UPDATED_ID     = #{updatedId}
        WHERE WORKD_ID = #{workDId}
    </update>

    <!-- 상세 업무 삭제 -->
    <delete id="deleteWorkD">
        DELETE
        FROM TB_WORK_D
        WHERE WORKD_ID = #{workDId}
    </delete>

    <!-- 주 업무 클릭시 해당 일자 상세업무 리스트 조회 -->
    <select id="getDetailWorkList" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT  a.workd_id,
        a.workd_name,
        a.empl_id        AS workDEmplId,
        a.workd_dept,
        (select code_name from TB_CODE where code_id = a.workd_dept) AS workd_deptN,
        TO_CHAR(a.workd_date, 'YYYY-MM-DD') AS workd_date,
        a.workd_context,
        a.workd_extra,
        a.room_id        AS workDRoomId,
        a.workd_impo,
        a.workd_issue,
        a.order_id,
        (select code_name from TB_CODE where code_id = a.workd_impo) AS workd_impoN,
        a.start_name     AS workDStartName,
        a.start_time     AS workDStartTime,
        a.end_name       AS workDEndName,
        a.end_time       AS workDEndTime,
        b.empl_name,
        c.room_name
        FROM    TB_WORK_D a
        LEFT JOIN TB_EMPL b on a.empl_id = b.empl_id
        LEFT JOIN TB_ROOM c on a.room_id = c.room_id
        WHERE a.workm_id = #{workMId}
        AND TO_CHAR(a.workd_date, 'YYYYMMDD') = #{date}
        ORDER BY a.empl_id, a.workd_impo desc, a.workd_name
    </select>

    <!-- 부서 목록 조회 (TP 코드만) -->
    <select id="getDept" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT
        CODE_ID AS codeId,
        CODE_NAME AS codeName
        FROM TB_CODE
        WHERE CODE_ID LIKE 'DP%'
        ORDER BY CODE_ID
    </select>

    <!-- 중요도 목록 조회 (TP 코드만) -->
    <select id="getImpo" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT
        CODE_ID AS codeId,
        CODE_NAME AS codeName
        FROM TB_CODE
        WHERE CODE_ID LIKE 'IM%'
        ORDER BY CODE_ID
    </select>

    <!-- 방 목록 조회 (TP 코드만) -->
    <select id="getRoom" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT
        ROOM_ID AS codeId,
        ROOM_NAME AS codeName
        FROM TB_ROOM
        ORDER BY ROOM_NAME
    </select>

    <!-- 직원 목록 조회 (TP 코드만) -->
    <select id="getEmpl" resultType="com.mobydick.hms.work.vo.WorkVO">
        SELECT
        EMPL_ID AS codeId,
        EMPL_NAME AS codeName
        FROM TB_EMPL
        ORDER BY EMPL_NAME
    </select>

    <!-- 직원 목록 조회 (TP 코드만) -->
    <select id="getEmplbySche" resultType="com.mobydick.hms.work.vo.WorkVO">
        select a.empl_id AS codeId, b.empl_name AS codeName
        from tb_schedule a
        join tb_empl b on a.empl_id = b.empl_id
        and TO_CHAR(a.sche_date, 'YYYY-MM-DD') = #{date}
        group by a.empl_id,b.empl_name
        order by empl_name
    </select>

    <!-- 부서별 직원 목록 조회 (TP 코드만) -->
    <select id="selectEmployeesByDept" resultType="com.mobydick.hms.work.vo.WorkVO">
        select a.empl_id AS codeId, b.empl_name AS codeName
        from tb_schedule a
        join tb_empl b on a.empl_id = b.empl_id
        where b.empl_dept = #{emplDept}
        and TO_CHAR(a.sche_date, 'YYYY-MM-DD') = #{date}
        group by a.empl_id,b.empl_name
        order by empl_name
    </select>

</mapper>
