<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobydick.hms.employee.dao.EmployeeDAO">

    <select id="selectAllEmployees" resultType="com.mobydick.hms.employee.vo.EmployeeVO">
        SELECT
            EMPL_ID,
            EMPL_NAME,
            EMPL_PHONE,
            EMPL_DEPT,
            EMPL_GRADE,
            PHOTO_NAME,
            PHOTO_PATH,
            EMPL_NOTES,
            CREATED_DATE,
            CREATED_ID,
            UPDATED_DATE,
            UPDATED_ID,
            RETIRED_YN
        FROM TB_EMPL
        <choose>
            <when test="sortOrder == 'emplDept_ASC'">
                ORDER BY EMPL_DEPT ASC, EMPL_GRADE ASC
            </when>
            <when test="sortOrder == 'emplGrade_ASC'">
                ORDER BY EMPL_GRADE ASC, EMPL_DEPT ASC
            </when>
            <otherwise>
                ORDER BY EMPL_GRADE ASC, EMPL_DEPT ASC
            </otherwise>
        </choose>
    </select>

    <select id="selectEmployeeById" parameterType="string" resultType="com.mobydick.hms.employee.vo.EmployeeVO">
        SELECT
            EMPL_ID,
            EMPL_NAME,
            EMPL_PHONE,
            EMPL_DEPT,
            EMPL_GRADE,
            PHOTO_NAME,
            PHOTO_PATH,
            EMPL_NOTES,
            CREATED_DATE,
            CREATED_ID,
            UPDATED_DATE,
            UPDATED_ID,
            RETIRED_YN
        FROM TB_EMPL
        WHERE EMPL_ID = #{emplId}
    </select>

    <insert id="insertEmployee" parameterType="com.mobydick.hms.employee.vo.EmployeeVO">
        INSERT INTO TB_EMPL (
            EMPL_ID,
            EMPL_NAME,
            EMPL_PHONE,
            EMPL_DEPT,
            EMPL_GRADE,
            PHOTO_NAME,
            PHOTO_PATH,
            EMPL_NOTES,
            CREATED_DATE,
            CREATED_ID,
            UPDATED_DATE,
            UPDATED_ID,
            RETIRED_YN
        ) VALUES (
            #{emplId},
            #{emplName},
            #{emplPhone, jdbcType=VARCHAR},
            #{emplDept},
            #{emplGrade},
            #{photoName, jdbcType=VARCHAR},
            #{photoPath, jdbcType=VARCHAR},
            #{emplNotes, jdbcType=VARCHAR},
            SYSDATE,
            #{createdId},
            SYSDATE,
            #{createdId},
            #{retiredYn}
        )
    </insert>

    <update id="updateEmployee" parameterType="com.mobydick.hms.employee.vo.EmployeeVO">
        UPDATE TB_EMPL
        SET
            EMPL_NAME = #{emplName},
            EMPL_PHONE = #{emplPhone},
            EMPL_DEPT = #{emplDept},
            EMPL_GRADE = #{emplGrade},
            PHOTO_NAME = #{photoName, jdbcType=VARCHAR},
            PHOTO_PATH = #{photoPath, jdbcType=VARCHAR},
            EMPL_NOTES = #{emplNotes},
            UPDATED_DATE = SYSDATE,
            UPDATED_ID = #{updatedId}
        WHERE
        EMPL_ID = #{emplId} AND RETIRED_YN = 'N'
    </update>

    <update id="updateEmployeePhoto" parameterType="com.mobydick.hms.employee.vo.EmployeeVO">
        UPDATE TB_EMPL
        SET
            PHOTO_NAME = #{photoName, jdbcType=VARCHAR},
            PHOTO_PATH = #{photoPath, jdbcType=VARCHAR},
            UPDATED_DATE = SYSDATE,
            UPDATED_ID = #{updatedId}
        WHERE
        EMPL_ID = #{emplId} AND RETIRED_YN = 'N'
    </update>

    <delete id="deleteEmployee" parameterType="string">
        DELETE FROM TB_EMPL
        WHERE EMPL_ID = #{emplId}
    </delete>

    <update id="updateNoticeEmplIdToNull" parameterType="string">
        UPDATE TB_NOTICE
        SET
            EMPL_ID = NULL,
            UPDATED_DATE = SYSDATE,
            UPDATED_ID = 'SYSTEM'
        WHERE EMPL_ID = #{emplId}
    </update>

    <delete id="deleteSchedulesByEmplId" parameterType="string">
        DELETE FROM TB_SCHEDULE
        WHERE EMPL_ID = #{emplId}
    </delete>

    <delete id="deleteWorkDetailsByEmplId" parameterType="string">
        DELETE FROM TB_WORK_D
        WHERE EMPL_ID = #{emplId}
    </delete>

    <select id="countEmployeeById" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM TB_EMPL
        WHERE EMPL_ID = #{emplId}
    </select>

    <update id="retireEmployee">
        UPDATE TB_EMPL
        SET
            RETIRED_YN = 'Y',
            UPDATED_DATE = SYSDATE,
            UPDATED_ID = #{updatedId}
        WHERE EMPL_ID = #{emplId} AND RETIRED_YN = 'N'
    </update>

</mapper>